body
{
    font-family:Verdana, sans-serif;
    font-size:12px;
    text-align:left;
}

label
{
    display:inline-block;
    width:150px;
}
.submit
{
    margin-left:150px;
}
.saved
{
    display:none;
}
.visible
{
    display:block;
    color:#00910f;
}
